<nav id="sidebarMenu" style="padding-bottom: 100%;" class=" bg-equi col-md-3 pt-0 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="py-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white active" aria-current="page" href="/admin">
            <i class="bi bi-bar-chart-fill"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" href="/admin/usuarios">
            <i class="bi bi-people-fill"></i>
              Usuarios
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" href="/admin/empresas">
            <i class="bi bi-buildings"></i>
              Empresa
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" href="/admin/formularios">
            <i class="bi bi-list-check"></i>
              Blog
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white active" aria-current="page" href="/admin/formularios">
            <i class="bi bi-columns"></i>
            CMS
          </a>
      </li>
      </ul>
    </div>
</nav>