<nav id="sidebarMenu" style="padding-bottom: 100%;" class=" bg-equi col-md-3 pt-0 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="py-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white active" aria-current="page" href="/admin">
            <i class="bi bi-bar-chart-fill"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" href="/admin/usuarios">
            <i class="bi bi-people-fill"></i>
              Usuarios
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" href="/admin/empresas">
            <i class="bi bi-buildings"></i>
              Empresa
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" href="/admin/blog">
            <i class="bi bi-list-check"></i>
              Blog
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white active" aria-current="page" href="/admin/contatos">
            <i class="bi bi-person-vcard-fill"></i>
            Contatos
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white active" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page" href="#">
            <i class="bi bi-columns"></i>
            CMS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/cms/sobre">Sobre nós</a></li>
            <li><a class="dropdown-item" href="/admin/cms/parceiros">Parceiros</a></li>
            <li><a class="dropdown-item" href="/admin/cms/video">Vídeo</a></li>
            <li><a class="dropdown-item" href="/admin/cms/servicos">Serviços</a></li>
            <li><a class="dropdown-item" href="/admin/cms/testemunhas">Testemunhas</a></li>
            <li><a class="dropdown-item" href="/admin/cms/funcionario">Funcionarios</a></li>
            <li><a class="dropdown-item" href="/admin/cms/duvidas">Dúvidas</a></li>
          </ul>
      </li>
      </ul>
    </div>
</nav>